body {
  background-color: aliceblue;
}

.flex-only {
  display: flex;
  justify-content: space-between;
}

.flex-only button {
  height: 50px;
  width: 50px;
  border-radius: 10px;
}

.container {
  display: block;
  padding: 2rem;
  margin: 1rem;
  border: 3px solid blue;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
}

.mini-container {
  display: flex;
  padding: 2rem;
  margin: 1rem;
  border: 3px solid blue;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  flex-direction: column;
}

.weather-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
